name: dump context
on:
    push

    
jobs:
    dump_context_to_log:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
        - name: display github context
          env:
            GITHUB_CONTEXT: ${{ toJson(github)}}
          run: echo "$GITHUB_CONTEXT"
        
        - name: display job context
          env:
            JOB_CONTEXT: ${{toJson(job)}}
          run: echo "$JOB_CONTEXT"

        - name: display step context
          env:
            STEP_CONTEXT: ${{toJson(steps)}}
          run: echo "$STEP_CONTEXT"

        - name: display runner context
          env:
            RUNNER_CONTEXT: ${{toJson(runner)}}
          run: echo "$RUNNER_CONTEXT"

        - name: display inputs context
          env:
            INPUTS_CONTEXT: ${{toJson(inputs)}}
          run: echo "$INPUTS_CONTEXT"

        - name: display vars context
          env:
            VARS_CONTEXT: ${{toJson(vars)}}
          run: echo "$VARS_CONTEXT"

        - name: display needs context
          env:
            NEEDS_CONTEXT: ${{toJson(needs)}}
          run: echo "$NEEDS_CONTEXT"
          
        - name: update repo description
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run: gh repo edit tundeiness/action-1 --description "New repo description"

        # - name: display matrix context
        #   env:
        #     MATRIX_CONTEXT: ${{toJson(matrix)}}
        #   run: echo "$JOB_CONTEXT"
        
