name: exploring and working with variables and secrets
on:
    push
env:
    CONTAINERTYPE: docker
jobs:
    docker:
        runs-on: ubuntu-latest
        steps:
        - name: build docker
          run: echo building ${{ env.CONTAINERTYPE }} ...

        - name: log in to registry
          run: echo loggin in to $CONTAINERTYPE registry...

        - name: publish docker build
          run: echo publishing ...

        - name: sleep for 2 seconds
          run: sleep 2
    deploy:
        env:
            RUNSTATEMENT: running docker
        needs: docker
        runs-on: ubuntu-latest
        steps:
        - name: docker run
          run: echo $RUNSTATEMENT